* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;

  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* asside ***************************************************************/
.asside {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  width: 23%;
  height: 100%;
  background-color: #ffffff !important;
  border-right: 1px solid rgb(202, 205, 202);
}

.asside ul li {
  padding: 15px 19px;
  font-weight: bold;
  margin-top: 11px;
}

.asside ul {
  margin-top: 80px;
}

.asside img {
  width: 139px;
  height: 110px;

}

.active a {
  color: rgb(222, 55, 55) !important;
}

.asside li a {
  color: rgb(29, 28, 28);
  text-decoration: none;
  border-bottom: 1px solid rgb(111, 110, 110);
  padding-bottom: 10px;
}

.asside li a:hover {
  color: rgb(222, 55, 55) !important;
  transition: 0.4s;
}

.asside {
  height: 100vh;
}

/* finish asside ***************************************************************/

/* home section ***************************************************************/
.main {
  display: flex;
}

#name {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 28px;
}

.content {
  display: flex;
  background-color: #ffffff;
  width: 100%;
  justify-content: center;
  margin-right: 12px;
  align-items: center;
  padding: 59px;
  justify-content: space-between;
  padding-top: 136px;

}

#name {
  color: rgb(222, 55, 55);
}

.image img {
  box-shadow: 0px 0px 24px 3px rgb(181, 180, 180);
  height: 400px;
}

.text p {
  padding-right: 76px;
  padding-top: 26px;
}

.text button {
  border-radius: 100px;
}

.text {
  position: relative;
}

.image {
  position: relative;
}

#img-border-top {
  width: 75px;
  height: 8px;
  background-color: rgb(222, 55, 55);
  position: absolute;
  bottom: 425px;
  right: 223px;
}

#img-border-bottom {
  width: 75px;
  height: 8px;
  background-color: rgb(222, 55, 55);
  position: absolute;
  left: 196px;
  top: 431px;
}

#img-border-right {
  height: 70px;
  width: 8px;
  background-color: rgb(222, 55, 55);
  position: absolute;
  left: 263px;
  top: 369px;
}

#img-border-left {
  height: 70px;
  width: 8px;
  background-color: rgb(222, 55, 55);
  position: absolute;
  bottom: 363px;
  right: 290px;
}

.homepage-links a,
.homepage-links-mobile a {
  font-size: 28px;
  color: rgb(29, 28, 28);

}

.homepage-links {
  margin-left: 120px;
  position: absolute;
  bottom: 13px;
  left: 253px;
}

.homepage-links-mobile {
  display: none;

}

.homepage-links,
.homepage-links-mobile,
span a:hover {
  transition: all 0.6s;
}

.homepage-links span,
.homepage-links-mobile span {
  margin-left: 12px;
}

.home-fb a:hover {
  color: rgb(222, 55, 55);
}

.home-github a:hover {
  color: rgb(222, 55, 55);
}

.home-instagrame a:hover {
  color: rgb(222, 55, 55);
}

.home-whatsapp a:hover {
  color: rgb(222, 55, 55);
}

#home-email a:hover {
  color: rgb(222, 55, 55);
}

/*finish home section  **************************************************/

/* about section **************************************************/
.about-main-content {
  padding: 29px;
}

.about-content p {
  margin-bottom: 0rem;
  margin-top: 20px;
}

.skills {
  position: relative;
}

.about-content .skills #html {
  position: absolute;
  bottom: 166px;
  right: 15px;
}

.skills #css {
  position: absolute;
  bottom: 112px;
  right: 15px;

}

.skills #javascript {
  position: absolute;
  bottom: 59px;
  right: 15px;
}

.skills #bootstrap {
  position: absolute;
  bottom: 7px;
  right: 15px;
}

.my-info span {
  font-weight: bold;
  padding-right: 6px;
}

.my-info li {
  border-bottom: 1px solid rgb(230, 222, 222);
  line-height: 48px;
  font-size: 14.5px;
}

.about-content .row {
  padding-right: 20px;
}

.about-icon {
  font-size: 12px;
}

.about-content .card-2 h5,
.about-content .card-1 h5 {
  font-size: 15px;
  padding-top: 11px;
  font-weight: 700;
}

.about-content .card-2 p,
.about-content .card-1 p {
  margin-top: 17px;
  font-size: 13px;
}

#about-asside {
  height: 171vh;
}

.progress-bar {
  animation-name: progress-bar;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes progress-bar {
  from {
    width: 0px;
  }
}

#about-asside {
  height: 174vh
}

/* finish about section **************************************************/

/* starting services section **************************************************/

.service-icon {
  font-size: 45px;
  color: red;
}

.service-icon:hover {
  color: rgb(226, 105, 19);
  transition: all 1s;
}

.services-main-content p {
  font-size: 13px;
}

.services-main-content .card {
  text-align: center;
}

.service-heading {
  margin-top: -22px;
}

/* closing services section **************************************************/

/* starting portfolio section **************************************************/

.portfolio-main-content .card h5 {
  font-size: 16px;
  text-align: center;
  padding-top: 36px;
  font-weight: 700;
}

.portfolio-main-content .card img {
  height: 140px;
  transition: all 0.9s linear;
}

.portfolio-main-content .card img:hover {
  transform: scale(1.2) !important;
}

.portfolio-main-content .card {
  overflow: hidden !important;
}

.portfolio-main-content a {
  text-decoration: none;
  color: rgb(39, 39, 39);
}

.portfolio-main-content a:hover {
  color: #dc3545;
  transition: 0.9s;
}

.portfoilio-main .asside {
  height: 107vh;
}

.ps-5 {
  padding: 2rem !important;
}

/* finishing portfolio section ***********************************************/


/* starting contact section *******************************************/

.contact-section-1 {
  text-align: center;
  font-weight: 800;
  margin-left: 0px;
}
.social-links {
  display: flex;
  margin-top: 20px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.social-links i {
  color: #dc3545;
  font-size: 23px;
}
.link-heading {
  font-weight: 700;
  font-size: 15px;
}

.link-text {
  font-size: 14px;
}

.contact-section-1 h5 {
  color: #dc3545;
}

.contact-input {
  text-align: center;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 100px !important;
}

textarea {
  border-radius: 20px !important;
}

.form-floating {
  width: 882px;
}

input:focus {
  transition: 0.9;
}

.subject {
  width: 817px;
}


.input-area {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links  ul {
  padding-left: 5rem;
}

.contact-links-parent .links-contact a{
  font-size: 50px !important;
  color: rgb(23, 23, 23);
}
.contact-links-parent .links-contact a:hover{
  cursor: pointer;
  transition: 0.9s;
}
.contact-links-parent{
  justify-content: center;
  justify-content: space-evenly;
}
.contact-links-parent .whatsapp a:hover{
    color: rgb(5, 169, 139) !important;
}
.contact-links-parent .facebook a:hover{
  color: rgb(28, 144, 216) !important;
}
.contact-links-parent .instagram a:hover{
   color: #dc3545 !important;
}
.contact-links-parent .github a:hover{
  color: #955213 !important;
}
.contact-asside{
  height: 100vh !important;
}
/* closing  contact section*********************************************** */


/* styling for all cards */
.card {
  box-shadow: 3px 3px 13px 3px #aaaaaa;
}

/* for typing text */
.typing {
  color: #dc3545;
  font-weight: 700;
}

/* for all hr */

.bg-danger {
  background-color: #dc3545 !important;
  opacity: 1;
  border: none;
}

.mobile-nav {
  display: none;
}

.active a:active {
  color: #dc3545 !important;
}

.active a {
  color: rgb(158, 10, 10) !important;
}

.row {
  justify-content: center;
}

/* media queries **************************************************************/

  @media screen and (max-width:1200px) and (min-width: 992px) {
    .portfoilio-main .portfolio-cards{
        margin-left: 43px;
    }
  } 

@media screen and (max-width:2083px) and (min-width: 992px) {
  .contact-section-1{
    margin-left: 65px !important;
  }

}
@media screen and (max-width:2083px) and (min-width: 1231px) {
  .homepage-links {
    margin-left: 52px;
  }
}

@media screen and (max-width:1170px) and (min-width: 600px) {
  .asside {
    width: 235px !important;
    height: 100vh;
  }

  #links-heading {
    display: block;
  }

  .image {
    margin-top: 80px;
  }

  .homepage-links {
    margin-left: 197px;
  }

  .homepage-links-mobile {
    position: absolute;
    top: 464px;
    margin-left: 34px;
    display: inherit;
  }

  .homepage-links {
    display: none;
  }

  .content {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #img-border-top {
    bottom: 425px;
    right: 223px;
  }

  #img-border-left {
    bottom: 363px;
    right: 290px;
  }
}

@media screen and (max-width: 998px) {
  .homepage-links {
    margin-left: 57px;
  }
}

@media screen and (max-width: 600px) and (min-width:100px) {

  .input-area {
    width: 100vw;
  }
  .page-headings {
    margin-top: 94px;
  }
  .text {
    margin-top: 36px;
  }
  .mobile-nav {
    display: block;
    background-color: #ffffff !important;
  }
  .mobile-nav li {
    color: rgb(29, 28, 28) !important;
  }
  .asside {
    display: none !important;
  }
  .asside {
    width: 100% !important;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  #about-asside {
    height: 100%;
  }

  .main {
    display: block;
  }
  .content {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 68px;
  }

  .text {
    text-align: center;
  }

  .text p {
    padding-right: 0px;
  }

  .image {
    margin-top: 98px;
    text-align: center;
  }

  .image img {
    box-shadow: 0px 0px 24px 3px grey;
  }

  .homepage-links-mobile {
    position: absolute;
    top: 464px;
    margin-left: 34px;
    display: inherit;
    padding-bottom: 14px;
  }

  .homepage-links {
    display: none;
  }

  .portfoilio-main .asside {
    height: 100%;
  }

  .social-links {
    flex-direction: column;
  }
}


@media screen and (max-width: 398px) and (min-width:100px) {

  .image-frame {
    display: none;
  }
}

@media screen and (max-width: 994px) and (min-width:700px) {
  .service-cards {
    width: 100%;
  }

  .portfolio-cards {
    width: 100%;
  }

}

@media screen and (max-width:337px) and (min-width: 50px) {
  #beforename{
    font-size: 16px;
  }
  #name{
    font-size: 23px;
  }

}
@media screen and (max-width:2000px) and (min-width: 1171px) {
  #contact-email{
    padding-left: 33px !important;
  }
}
@media screen and (max-width:1170px) and (min-width: 992px) {
  #contact-email{
    padding-left: 33px !important;
  }
}
@media screen and (max-width:988px) and (min-width: 100px) {
  .social-links  ul {
    padding-left: 0rem;
  }
}

@media screen and (max-width:800px) and (min-width: 600px) {
  .asside {
    width: 184px !important;
    height: 127vh;
  }

  .services-main .asside {
    height: 114vh !important;
  }

  .main .asside {
    height: 100vh;
  }

  #about-asside {
    height: 164vh;
  }

  .portfoilio-main .asside {
    height: 106vh !important;
  }

  .text p {
    padding-right: 0px;
  }

}